:root {
    --color-neutral-light: #ddd;
    --color-neutral-medium: #999;
    --color-neutral-dark: #444;

    --color-main-light: #def2f9;
    --color-main-medium: #52bd96;
    --color-main-dark: #122D4E;

    --color-white: #fff;
    --color-black: #111;

    --header-height:  3rem;
    --footer-height:  3rem;
}

* {
    box-sizing: border-box;
}

body {
  font-family:'Inter';
  color: #52bd96;
}



/* CORE ELEMENTS */
a {
   color: inherit;
   text-decoration: none;
   font-weight: 500;
}

p {
  display: block;
  text-align:center;
  color: var(--color-main-dark)
}


/* LAYOUT CLASSES */
.hidden { display:none; }

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }

.overscroll { overflow: auto; }
.overscroll-x { overflow-x: auto; }
.overscroll-y { overflow-y: auto; }


.fill-parent {
   width: 100%;
   height: 100%;
}


.centered {
    text-align:center;
    color: var(--color-main-dark);
    }

.small { font-size: 0.9em; }


/* PAGE ELEMENTS */
.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
}

[data-role="main"] {
    flex: 1 1 100%;
    position: relative;
    overflow: hidden;
}


[data-role="header"], 
[data-role="footer"] {
    flex: none;
    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    background-color: var(--color-white);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    position: relative;
    overflow: hidden;
}



[data-role="header"] ul,
[data-role="footer"] ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
}
[data-role="footer"] li {
   flex: 1 1 auto;
   text-align: center;
}
[data-role="header"] a,
[data-role="footer"] a {
   display: block;
}
[data-role="header"] a {
   padding: 0 1em;
}

.ui-header .ui-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   margin: 0;
   font-size: 1rem;
   padding: 0;
}


/* LOGIN BACKGROUND */
.login-background {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url(../img/dogmoving.gif);
    /* Copyright to KeDar Ambatkar. https://dribbble.com/shots/7197395-Weekly-Warm-up-4-Animated-Dog-Icon */
    background-size: cover;
    background-position: center;
}


/* FORM ELEMENTS */
.form {}
.form-control {
   margin: 1em 0;
}



.form-input {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
}

.form .form-button,
.form-button {
    width: 100%;
    display: inline-block;
    border-width: 0;
    color: var(--color-white);
    background-color: var(--color-main-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.ui-mobile .form-label {
   font-size: 0.8em;
   color: var(--color-neutral-medium);
   margin: 1rem 0 0;
}


/* WRAPPER */
.wrapper {
    background-color: var(--color-white);
    position: relative;
    width: 100%;
    height: 60%;
    box-shadow: 0px -2px 4px rgb(0 0 0 / 3%);
    /*border-radius: 15px 15px 0 0;*/
}

.wrapper .title {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    line-height: 1.5em;
    padding-top: 1.9em;
    border-radius: 30px 30px 0 0;
}



.map {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(../img/map.png);
   background-size: cover;
   background-position: center;
}


/* Floater */
.floater { position:absolute; }
.floater.left { left:1em; }
.floater.right { right:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:1em; }
.floater.center {right:45%; left: 45%;}


/* Circle Button */
.btn-circle {
   display: inline-block;
   background-color: var(--color-main-medium);
   width: 3rem;
   height: 3rem;
   line-height: 2.75rem;
   color: var(--color-white);
   text-align: center;
   font-size: 2.4rem;
   border-radius: 2em;
   box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}




/* MODAL */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   opacity: 0;
   transition: all 0.3s;
}
.modal.active {
   pointer-events: initial;
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}


/* Modal Popup */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    border-radius: 5px;
    width: 80vmin;
    overflow: hidden;
    transition: all 0.3s;
}
.modal-body {
    padding: 10px;
    background-color: var(--color-white);
}
.modal-head,
.modal-foot {
    background-color: var(--color-neutral-light);
    line-height: 2rem;
    padding: 0 1em;
}
.modal.active .modal-popup {
   transform: translate(-50%,-50%);
}











